{%extends 'base.html'%}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <form method="POST" class="form-group">
                <div class="form-group"></div>
                {% csrf_token %}
                <p>Are you sure you want to delete "{{ object }}"?</p>
                <button type="submit" value='Confirm' class="btn btn-danger">Delete Project</button>
            </form>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
{% endblock content %}