{% extends 'base.html' %}
{%load static%}
{% block styles %}
{{block.super}}
<link rel="stylesheet" href="{% static 'css/project_list.css' %}">
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 text-left">
            {%for project in project_list%}
            <div class="card mb-3">
                <div class="row no-gutters align-items-center">
                    <div class="col-md-4 imgColumn">
                        {% if project.image %}
                        <img src="{{ project.image.url }}" alt="{{project.title}}" />
                        {%else%}
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSPBdCYi2v2gXSJfvkxRbNbJPTULS9PG8dJw&usqp=CAU"
                            alt=" Project Image unavailable" />
                        {%endif%}
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><strong>Posted by <br> </strong><a href="{%url% profile pk=profile.author.id}">@{{project.author.username}}</a></h5>
                            <p class="card-text"><strong>Title <br></strong>{{project.title|title}}</p>
                            <p class="card-text"><strong>Description <br> </strong>{{project.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>
{% endblock %}