{%extends 'base.html'%} 
{%load static%} 
{% block styles %} 
{{block.super}}
<link rel="stylesheet" href="{% static 'css/homepage.css' %}"> 
{% endblock %} 
{% block content %}
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1 class="fw-light">Developer Awards</h1><br>
                <h2 class="fw-light">Welcome to Developer Awards</h2><br>
                <p class="lead">Upload your favorite projects and have them rated. <br>Rate any uploaded project.</p>
                <a class="btn btn-outline-light btn-lg projects" href="#" role="button">Go to Projects</a>
            </div>
        </div>
    </div>
</header>
{% endblock content %}