{%extends 'base.html'%}
{%load static%}
{% block styles %}
{{block.super}}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row ">
        <div class="col-sm-4 align-items-center">
            <h2 class="text-center">Profile</h2>
            <div class="card" >
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">An item</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                    </ul>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="row align-items-center">
                <div class="col-12 text-center">
                    <a href="#" class="btn btn-outline-success btn-lg" role="button" aria-pressed="true"><span><i class='fas fa-plus' style='font-size:2em; color: green;'></i></span></a>
                    <p class="text-muted">Add a Project</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}